<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Entrega Final Backend</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
    <nav>
      <a href="/products">Productos</a>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>
</body>
</html>
